<div class="container">
  <div class="col-6 mx-auto">
    <div class="card card-body mt-5">
      <h1 class="text-center">Login</h1>
      <form action="/users/login" method="POST">
        <div class="mb-2">
          <label for="email" class="form-label my-2">Email</label>
          <input type="text" name="email" id="email" placeholder="Enter your email here" class="form-control">
        </div>
        <div class="mb-2">
          <label for="password" class="form-label my-2">Password</label>
          <input type="password" name="password" id="password" placeholder="Enter your password here" class="form-control">
        </div>
        <button type="submit" class="btn btn-success form-control mt-2">Login</button>
        {{!-- <button type="submit" class="btn btn-primary form-control mt-2">Facebook Login</button> --}}
        <a href="/auth/facebook" class="btn btn-primary form-control mt-2">Facebook</a>
      </form>
      <p class="mt-4" style="font-size: 1.2em">
        Have Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>

  
